@import url('https://fonts.googleapis.com/css2?family=Itim&family=Lato:ital,wght@1,100;1,300&family=Montserrat:wght@200&family=Open+Sans:wght@300&family=Poppins:wght@200&family=Raleway:ital,wght@1,300;1,500&family=Roboto&family=Roboto+Slab:wght@100;200&family=Source+Sans+Pro:wght@300;400&family=Ubuntu:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@300&family=Itim&family=Lato:ital,wght@1,100;1,300&family=Montserrat:wght@200&family=Open+Sans:wght@300&family=Poppins:wght@200&family=Raleway:ital,wght@1,300;1,500&family=Roboto+Slab:wght@100;200&family=Roboto:wght@300;400&family=Source+Sans+Pro:wght@300;400&family=Ubuntu:wght@300;500&display=swap');


body{
    margin: 0;
    padding: 0;
}
main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.container{
    display: flex;    
}
.top{
    width: 20rem; 
    background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;   
    border-radius: 1rem;                 
}
.results .marks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:10rem;
    height: 10rem;
    border-radius: 50%;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
}
.results h1{
    align-items: center;
    color: #a5b1c2;
    font-family: 'Roboto', sans-serif;
}
.results h2{
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color: aliceblue;
    margin-bottom: 0;
}
.results h3{
    font-family: 'Anuphan', sans-serif;
    color: #b2bec3;
}
.great{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.great h1{
    font-family: 'Roboto', sans-serif;
    color: rgb(240, 243, 247);
}
.great h3{
    font-family: 'Anuphan', sans-serif;
    color: #a5b1c2;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.summery{
    border-radius: 10px;
    width: 20rem;
    box-shadow: 2px 1.5px 5px #74b9ff;  
}
.summery h1{
    color: black;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-right: 150px;
}
.bottom .row1{
    display: flex;
    justify-content: center;
}
.reaction{
    display: flex;
    background-color: #fcb3bd;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0.8rem;
    width: 70%;
}
.memory{
    display: flex;
    background-color: lightyellow;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0.8rem;
    width: 70%;
    font-size: 0.8rem;
}
.vebal{
    display: flex;
    background-color: rgb(197, 237, 197);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0.8rem;
    width: 70%;
    font-size: 0.8rem;
}
.visual {
    display: flex;
    background-color: rgb(205, 230, 239);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0.8rem;
    width: 70%;
    font-size: 0.8rem;
}
.row1 img{
    margin-right: 25px;
}
.reaction h2{
    color: red;
    font-family: 'Anuphan', sans-serif;
}
.memory h2{
    color: #f0932b;
    font-family: 'Anuphan', sans-serif;
}
.vebal h2{
    color: green;
    font-family: 'Anuphan', sans-serif;
}
.visual h2{
    color: blue;
    font-family: 'Anuphan', sans-serif;
}
.reaction h3{
    margin-left:33px ;
    color: black;
    font-size: 18px;
    margin-top: 25px;
    margin-right: 10px;   
}
.reaction h4{
    font-size:18px;
    color: grey;
}
.memory h3{
    margin-left: 38px;
    color: black;
    font-size: 18px;
    margin-right: 10px;
    margin-top: 25px;
}
.memory h4{
    font-size: 19px;
    color:grey;
}
.vebal h3{
    margin-left: 60px;
    color: black;
    font-size: 18px;
    margin-right: 10px;
    margin-top: 25px;
}
.vebal h4{
    font-size: 19px;
    color: grey;
}
.visual h3{
    margin-left: 57px;
    color: black;
    font-size: 18px;
    margin-right: 10px;
    margin-top: 25px;
}
.visual h4{
    font-size: 19px;
    color: grey;
}
.last{
    width: 90%;
}
.last h3{
    border-radius: 50px;
    color: aliceblue;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: 'Anuphan', sans-serif;
    margin-left: 40px;
    background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));    
}
.summery h2{
    margin-top: 1.3rem;
}


@media only screen and (max-width:1439px){
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .top{
        height: 46%;
        margin-top: 4rem;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .summery{
        box-shadow: 0px 0px 0px;
    }
    .last h3{
        background-image: linear-gradient(hsl(244, 21%, 14%),hsl(240, 9%, 21%));    
    }
    .results h1{
        font-size: 20px;
        text-align: center;
    }
    .marks h2{
        font-size: 35px;
    }
    .great h3{
        font-size: 16px;
        width: 90%;
        margin-bottom: 40px;
    }
}

